/********************************************
    GENERAL STYLES
********************************************/

:root {
  --cols: 10;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/********************************************
    UTILITIES
********************************************/
.debug {
  border: 2px dotted red;
}

/********************************************
    LAYOUT
********************************************/
#header {
  height: 110px;
}

#logo {
  display: inline;
  line-height: 80px;
  vertical-align: middle;
}

h1 {
  display: inline;
  line-height: 80px;
  vertical-align: middle;
}

h4 {
  color: red;
}

#score {
  color: red;
  font-weight: 700;
}

button {
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  border: 2px solid #418458;
  background-color: #418458;
  width: 90px;
  height: 80px;

}

button:hover {
  background-color: white;
  color: #418458;
}

#grid {
  width: 800px;
  border-top: 10px solid #1c452a;
  border-left: 10px solid #1c452a;
  border-bottom: 10px solid white;
  border-right: 10px solid white;
  padding: 22px;
}

.border-int {
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-bottom: 10px solid #1c452a;
  border-right: 10px solid #1c452a;
  padding: 20px;
}

.col {
  margin: 0;
}

.square {
  display: inline-block;
  border-top: 6px solid white;
  border-left: 6px solid white;
  border-bottom: 6px solid #1c452a;
  border-right: 6px solid #1c452a;
  color: #418458;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  cursor: pointer;
  width: calc(735px / var(--cols));
  height: calc(735px / var(--cols));
  line-height: 76px;
}

.square.hover {
  background-color: #1e482d;
  border: 2px solid #0f2516;
  cursor: none;
}

.square.hover.bombs {
  background-color: red;
  background-image: url("../img/pngegg.png");
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
  cursor: none;
}